@model NEDAW.ViewModels.NewsVM
<br /><br /><br />
<h2>@ViewBag.Name</h2>

<div class="section">
    <div class="container">
        <a class="primary-button" href="/News/New">New</a>
    </div>
</div>

@if (Model.News.Count() == 0)
{
    <p>There are no items!</p>
}
else
{
    for (int index = 0; index < Model.News.Count(); index++)
    {
        <div class="section">
            <div class="container">
                <div class="row">
                    @{
                        var article = Model.News.ElementAt(index);
                        @Html.Partial("_News", article);
                        index++;
                        if (index < Model.News.Count())
                        {
                            article = Model.News.ElementAt(index);
                            @Html.Partial("_News", article);
                        }
                        index++;
                    }
                </div>
            </div>
        </div>
    }
}