@model NEDAW.Models.Comment

<div class="media">
    <div class="media-body">
        <div class="media-heading">
            <h5>@Model.User.UserName</h5>
            <span class="time">@Model.ModifiedOn</span>

            @if (this.User.Identity.Name.ToString() == Model.User.UserName)
            {
                <a class="reply" href="#" onclick="document.getElementById('deleteForm').submit();">Delete</a>

                <form id="deleteForm" class="display-none" method="post" action="/Comments/Delete/@Model.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                </form>
            }
        </div>
        <p>@Model.Message</p>
    </div>
</div>