@model NEDAW.Models.Comment

<div class="media">
    <div class="media-body">
        <div class="media-heading">
            <h5>@Model.User.UserName</h5>
            <span class="time">@Model.ModifiedOn</span>
            @*<a href="#" class="reply">Edit</a>*@
        </div>
        <p>@Model.Message</p>
    </div>
</div>