@model NEDAW.ViewModels.NewsCategoryVM

<h2>All categories</h2>

@foreach (var category in Model.NewsCategories)
{
    <p>@category.Name | 
        <a href="/Categories/Edit/@category.Id">Edit category</a>
    </p>
}

<a class="btn btn-sm btn-success" href="/Categories/New">New</a>