@model NEDAW.ViewModels.NewsCategoryVM

<div class="secton-title">
    <h2>Categories</h2>
</div>
<div class="section category-widget">
    <ul>
        @foreach (var category in Model.NewsCategories)
        {
            <li>@Html.ActionLink(category.Name, "Category", "News", new { id = category.Id }, new { @class = "cat-2" })</li>
        }
    </ul>
</div>