<div class="secton-title">
    <h2>Admin Panel</h2>
</div>
<div class="section category-widget">
    <ul>
        <li><a class="cat-2" href="/Admin/Users">Users</a></li>
        <li><a class="cat-2" href="/Categories/ManageCategories">Categories</a></li>
    </ul>
</div>