@model NEDAW.ViewModels.UsersVM
<h2>Users</h2>

<div class="section">
    @foreach (var user in Model.Users)
    {
        <p><b>Nume:</b> @user.UserName</p>
        <p><b>Email:</b> @user.Email</p>
        <a class="fa fa-pencil-alt btn btn-sm btn-success primary-button" href="/Admin/Edit/@user.Id"></a>
        <a class="fa fa-trash btn btn-sm btn-success primary-button" href="/Admin/Delete/@user.Id"></a>
        <hr />
    }
</div>